:root{
    --granCelle: 10;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#select{
    margin-bottom: 0.8rem;
}

select{
    margin-right: 4rem;
}

#campo{
    background-color: aqua;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#griglia{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.cubo{
    width: calc(100%/var(--granCelle));
    height: calc(100%/var(--granCelle));
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked{
    background-color: aquamarine;
}